  <div class="login-form" >
        <form #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
            <h2 class="text-center">User Registration</h2>       
            <div class="form-group">
               Name: <input type="text" name="Name" class="form-control"  [(ngModel)] = "userService.userObject.Name" placeholder="Name"  required>
            </div>
            <div class="form-group">
               Email: <input type="text"  name="email" class="form-control"  [(ngModel)] = "userService.userObject.email" placeholder="Email"  required>
            </div>
            <div class="form-group">
               Password: <input type="password" name="password" class="form-control" [(ngModel)] = "userService.userObject.password" placeholder="Password"  required>
            </div>
            <div class="form-group">
               DOB: <input type="text"  name="DOB" class="form-control"  [(ngModel)] = "userService.userObject.DOB" placeholder="DOB" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>      
        </form>
        <div class="success" *ngIf="success">
            Saved Succesfully
        </div>
        <div class="alert" *ngIf="errorFlag">
                {{errorFlag}}
            </div>
    </div>
  